.reviews-top{
  @include max(640px){
    margin: 20px 0 35px;
    .text-title{
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }
  }
}

.review-form-fields{
  @include max(640px){
    margin: 0;
  }
}

.review-container{
  @include max(640px){
    margin: 0;
  }
}

.info-block{
  @include max(640px){
    padding-right: 10px;
  }
}

.add-review{
  @include max(640px){
    display: none;
  }
}

.top-part{
  @include max(640px){
    flex-direction: column;
    align-items: flex-start;
    .date{
      margin: 10px 0;
    }
  }
}

.image-block{
  @include max(640px){
    padding-right: 15px;
  }
}

.review-item{
  @include max(640px){
    border: 1px solid #cdcdcd50;
    padding: 5px 0;
    background-color: #77777710;
  }
}

.rating-stars{
  @include max(640px){
    flex-direction: column;
    .name{
      width: 100%;
      max-width: 98%;
      span{
        text-align: center;
        margin-bottom: 5px;
      }
    }
    .review-stars{
      margin: 10px auto;
    }
  }
}

.comment{
  @include max(640px){
    margin: 20px auto;
    max-width: 98%;
    span{
      text-align: center;
      margin-bottom: 5px;
    }
  }
}

.form-btn{
  @include max(640px){
    width: 100%;
  }
}